<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        {% block css %}
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
        {% endblock %}
    <title>Authentication App</title>
</head>
<body>
    {% block main-container %}
    <div class="main-container">
        <h2><a href="#">Authentication App</a></h2>
        <ul>
            <li><a href="#">Register</a></li>
            <li><a href="#">Log in</a></li>
        </ul>
    </div>
    {% endblock %}
    <footer class="footer-container">
        <span>
            <p>
                copyright
                <a href="#">shrestha-milan</a>
            </p>
        </span>
    </footer>
</body>
</html>
